
h1 {
  text-align: center;
}



.container {
  border: solid;
  border-color: green;
  height: 500px;
  width: 1050px;
  position: center;


}

.racetrack1 {
border: solid;
border-color: black;
height: 200px;
width: 1000px;
margin-left: 0px;
margin-top: 40px;
background-image: url("http://www.conceptdraw.com/solution-park/resource/images/solutions/football/Sport-Football-Horizontal-colored-football-field-Template.png");
background-size: 1000px 200px;

}

.racetrack2 {
  border: solid;
  border-color: black;
  height: 200px;
  width: 1000px;
  margin-left: 0px;
  margin-top: 20px;
  background-image: url("http://www.conceptdraw.com/solution-park/resource/images/solutions/football/Sport-Football-Horizontal-colored-football-field-Template.png");
  background-size: 1000px 200px;
}

#player1 {
  height: 100px;
  width: 100px;
  margin-top: 70px;
  margin-left: 10px;
  position: absolute;
  content: url("http://www.polyvore.com/cgi/img-thing?.out=jpg&size=l&tid=89177");
}

#player2 {
  height: 100px;
  width: 100px;
  margin-top: 70px;
  margin-left: 10px;
  position: absolute;
  content: url("http://www.eventprophire.com/_images/products/large/small_scenic_rock_prop_hire.jpg")
}

footer {
  text-align: center;

  font-size: 40px;
  font: "Lucida Console"
}

.button {
  margin-top: 40px;
  align: center;
  position: relative;
}
